
/*バックグラウンドカラー変数*/
$bgc-beige: beige;
$bgc-gray: gray;
$bgc-green:green;
$bgc-red:red;
$bgc-white:white;


/*フォントカラー変数*/
$font-gray: #707070;
$font-white: #fff;
$font-black: black;


/*ボーダーカラー変数*/
$bdc-green:green;
$bdc-gray:gray;