
/*バックグラウンドカラー変数*/
$bgc-beige: rgb(255, 255, 212);
$bgc-gray: rgb(240, 239, 239);
$bgc-green:rgb(117, 206, 117);
$bgc-red:red;
$bgc-white:white;


/*フォントカラー変数*/
$font-gray: #707070;
$font-white: #fff;
$font-black: black;


/*ボーダーカラー変数*/
$bdc-green:green;
$bdc-gray:rgb(223, 223, 223);