// *{
// outline: 1px solid red;}

/*
font-family.font-family.font-family.font-family.font-family.font-family.font-family.
*/


$Roboto: "Roboto", sans-serif;
$NotoSansJp: "Noto Sans JP", sans-serif;

/*フォントサイズ一覧*/

$text-normal: 1.25vw;
$text-bold: 1.25vw;

