// * {
// 	outline: 1px solid red;
// }

/*
font-family.font-family.font-family.font-family.font-family.font-family.font-family.
*/

$Roboto: "Roboto", sans-serif;
$NotoSansJp: "Noto Sans JP", sans-serif;

/*フォントサイズ一覧*/

$text-large: min(3vw, 20px);
$text-normal: min(2.8vw, 16px);
$text-small: min(2.5vw, 14px);
