.c-grid {
  display: grid;
  justify-content: center;
  padding: 0 3%;
  gap: 35px;
  overflow-x: hidden;
	grid-template:
  "header" auto
  "intro"    auto
  "news"   auto
  "list"       auto
  "footer"   150px
  /minmax(50%,1000px);

	&--header {
    grid-area: header;
	}

	
	&--introduce {
    grid-area: intro;
	}
	&--news {
    grid-area: news;
	}
	&--dininglist {
    grid-area: list;
	}
	&--footer {
    grid-area: footer;
	}
}
