.c-grid {
  display: grid;
  justify-content: center;
  padding: 0 10%;
  gap: 25px;
	grid-template:
  "header" auto
  "nav"      auto
  "intro"    auto
  "news"   auto
  "list"       auto
  "footer"   150px
  /minmax(50%,1000px);

	&--header {
    grid-area: header;
	}

	&--nav {
    grid-area: nav;
	}
	&--introduce {
    grid-area: intro;
	}
	&--news {
    grid-area: news;
	}
	&--dininglist {
    grid-area: list;
	}
	&--footer {
    grid-area: footer;
	}
}
