@use '../global/font-size'as f;

.c-text{
  font-size:f.$text-normal ;
  line-height: 1.5;
}

.c-text--underline{
  font-size:f.$text-normal ;
  text-decoration: underline;
  text-decoration-color: black;
}

.c-text--bold{
  font-weight: 700;
}

