@use "../global/font-size" as f;

.c-text {
	font-size: f.$text-normal;
	line-height: 1.5;

	&--small {
		font-size: f.$text-small;
	}

	&--large {
		font-size: f.$text-large;
	}
	
	&--underline {
		text-decoration: underline;
		text-decoration-color: black;
	}
}

.c-text--bold {
		font-weight: 700;
	}
  