$black: #2c363f;
$red: #f16b6b;
$blue: #2498b3;
$skyblue: #d4f1f8;
$gray: #f3fafb;
$green: #28c700;
$light-beige: #f2ede9;
$brown: #96806b;
/*バックグラウンド用カラー変数*/
$bgc-beige: #ded8d3;
$bgc-header: #fff7ef;
$bgc-btn-start: #f0ebe7;
$bgc-btn-finish: #dfd9d4;
$bgc-card: #3c2b1c;
$bgc-gray: #f5f5f5;

/*フォント用カラー変数*/
$font-gray: #707070;
$font-white: #fff;
