@use "../global/color" as c;
@use "../global/font-size" as f;

.p-cards {
  margin-bottom: 20px;
	&__image {
		width: 100%;
	}
	&__contents {
		display: flex;
		flex-wrap: wrap;
		padding: 3%;
		> dt {
			width: 30%;
			padding-bottom: 5px;
		}
		> dd {
			width: 70%;
		}
	}

	&__comment {
		padding: 8%;
		background-color: c.$bgc-beige;
		margin: 15px 0;
	}

	&__link {
		display: flex;
		flex-direction: column;
		margin: 10px 0;
	}

	&__icon{
		width: 100%;
		display: flex;
		justify-content: space-around;
		>a{
			width: 30%;
			text-align:center;
			// tap-highlight-color: rgba(0, 0, 0, 0);
			// -webkit-tap-highlight-color: rgba(227, 227, 228, 0.527);
		}
	}
	
	&__text{
		display: flex;
		justify-content: space-around;
	}
}
