@use "../global/font-size" as f;

.p-introduce {
	display: flex;
	align-items: center;
	flex-direction: column;
	&__head {
		font-size: f.$text-normal;
	}

	&__description {
		@extend .p-introduce;
		> p {
			display: block;
		}
	}
}
